:root{
    background: transparent;
}

@font-face {
    font-family: "repet___";
    src: url(../fonts/repet/repet___.ttf) format("truetype");
}

html, body {
    height: 100%;
    padding:0;
    margin:0;  
}

.main {
    height: 100%;
    width: 100%;
    display: table;    
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
} 

.rockBoxPlayer {
    padding:0;
    margin:0;
    width: 100vw;   
}

h1{
    margin:0;
    font-family:Chathura;
    font-size: 3.8vw;
    line-height: 3.8vw;    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+24,828c95+24,828c95+24,828c95+24,828c95+28,28343b+100 */
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 24%, #828c95 24%, #828c95 24%, #828c95 24%, #828c95 28%, #28343b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 24%,#828c95 24%,#828c95 24%,#828c95 24%,#828c95 28%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 24%,#828c95 24%,#828c95 24%,#828c95 24%,#828c95 28%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

h6{
    margin:0;
    font-family:Chathura;
    font-size: 9vw;
    line-height: 9vw;
    text-align: center;

    background: -webkit-linear-gradient(white, #353F47);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.04vw;
    -webkit-text-stroke-color: #353F47;    
}

.controlsPanel{
    display: flex;
    flex-wrap: nowrap;
    height: 25vw;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eab92d+0,c6b76b+0,c6b76b+40,c79810+100 */
    background: #eab92d; /* Old browsers */
    background: -moz-linear-gradient(left,  #eab92d 0%, #c6b76b 0%, #c6b76b 40%, #c79810 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #eab92d 0%,#c6b76b 0%,#c6b76b 40%,#c79810 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #eab92d 0%,#c6b76b 0%,#c6b76b 40%,#c79810 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1 ); /* IE6-9 */
}

.buttonsPanel{
    display: flex;
    flex-wrap: nowrap;
/*    background-color: darkgray;*/
    font-size: 4vw;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#28343b+0,828c95+64,b5bdc8+100 */
    background: #28343b; /* Old browsers */
    background: -moz-linear-gradient(top,  #28343b 0%, #828c95 64%, #b5bdc8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #28343b 0%,#828c95 64%,#b5bdc8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #28343b 0%,#828c95 64%,#b5bdc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=0 ); /* IE6-9 */

}

.buttons{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size:10vw;
    padding:0;
    margin:0.5vw; 
    width: 7vw; 
}

.infoDiv{
    padding-top:0; 
    flex-grow: 1;
    background-color: transparent;
    /*color:#8B0000;
    font-family: Bungee Inline;
    font-size: 5vw;
    */
    color:black;
    font-family: repet___;    
    font-size: 7vw;
    text-align: center;
    align-self: center;
}

.actionDiv{
    padding:0;
    margin:0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+20,28343b+100 */
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 20%, #28343b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 20%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 20%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

