@font-face {
    font-family: "repet___";
    src: url(../fonts/repet/repet___.ttf) format("truetype");
}

html, body {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;  
}

.rockBoxPlayer{
    margin:0;
    padding:0;
    background: #0000ff;    
    height: 100%;
}

h1{
    display: none;

}

h6{
    display: none;
}

.controlsPanel{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.buttonsPanel{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 0;
    flex-shrink: 1;
    max-width: 9px;
    min-width: 9px;
}

.buttons{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin:0;    
    padding:0;
    line-height: 11px;
    font-size: 11px;       
}

.buttons.play{
    color: white;
}
.buttons.stop{
    color: white;
}
.buttons.volume{
    color:black;
}
.buttons.play:disabled,.buttons.stop:disabled{
    color:#4A4A4A;
}
.buttons.volume:disabled{
    color:#4A4A4A;
}

.lcdDisplay{
    display: flex;    
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;    
    padding-top:0; 
    text-align: center;
    align-self: center;
    overflow: hidden;
    position: relative;  
}

.infoDiv{
    display: flex;     
    padding-top:0; 
    flex-grow: 1;
    white-space: nowrap;
    width: auto;
    min-width: 100%; 
    background-color: transparent;
    color:white;
    /*font-family: repet___;*/    
    font-family: 'Courier New', Courier, monospace;
    font-size: 60vh;
    line-height: 60vh;
    text-align: center;
    align-self: center;

    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);    
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: infoDiv 9s linear infinite;
    -webkit-animation: infoDiv 9s linear infinite;
    animation: infoDiv 9s linear infinite;      
}

/* Move it (define the animation) */
@-moz-keyframes infoDiv {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
@-webkit-keyframes infoDiv {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes infoDiv {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);       
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
}
/*
@media screen and (min-width: 150px) and (max-width: 199px) {
    .infoDiv{
        font-size: 8.4px;
        line-height: 8.4px;        
    }
}
@media screen and (min-width: 200px) and (max-width: 249px) {
    .infoDiv{
        font-size: 11px;
        line-height: 11px;        
    }
}
@media screen and (min-width: 250px) and (max-width: 399px) {
    .infoDiv{
        font-size: 12px;
        line-height: 12px;        
    }
}
@media screen and (min-width: 400px) {
    .infoDiv{
        font-size: 13px;
        line-height: 13px;        
    }
}*/